{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
	.panel-body {
		color:mediumpurple;
	}

	#comments {
		color:#c0a6f5;
	}

	.up {
		background-color:white;
		border-color: lightseagreen;
	}
	#up-votes {
		color:lightseagreen;
	}

	.down {
		background-color:white;
		border-color: lightcoral;
	}
	#down-votes {
		color:lightcoral;
	}

	#vote-label {
		font-family:"Helvetica Neue";
	}

	#commentbutton {
		color:white;
		background-color:#c0a6f5;
		border:none;
		border-radius:4px;
	}
</style>

<div class="panel panel-default">
	<div class="panel-body">
		<h2>{{ brain }}</h2>
		<h3>{{ brain.owner }} : {{ brain.text }}</h3>
		<p>{{ brain.created_at }}</p>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-secondary active">
		    <input type="radio" name="options" id="mostvotes" autocomplete="off" checked> Most Votes
		  </label>
		  <label class="btn btn-secondary">
		    <input type="radio" name="options" id="leastvotes" autocomplete="off" onclick="showLeastVotes()"> Least Votes
		  </label>
		  <label class="btn btn-secondary">
		    <input type="radio" name="options" id="newest" autocomplete="off"> Newest
		  </label>
		  <label class="btn btn-secondary">
		    <input type="radio" name="options" id="oldest" autocomplete="off"> Oldest
		  </label>
		</div>
	</div>
</div>

	{% for b in brain.resps %}
	<div class="panel panel-default" id="mostvotes-list">
		<div class="panel-body">
		<p>{{ b.owner }} : {{ b.text }} (id: {{ b.id }})&nbsp;
		<button type="submit" formmethod="post" class="btn btn-sm up"><a href="{% url 'threads:brainstorm_add_upvote' brain.id %}"><span class="glyphicon glyphicon-thumbs-up" id='up-votes'> <span id='vote-label'>{{ b.up }}</span></span></a></button>

		<button class="btn btn-sm down"><span class="glyphicon glyphicon-thumbs-down" id='down-votes'> <span id='vote-label'>{{ b.down }}</span></span></button></p>
		<p>{{ b.created_at }}</p>
		{% for c in b.r_comments %}
			<p id='comments'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ c.owner }} : {{ c }}</p>
		{% endfor %}
		<button onclick="showCommentForm('{{ b.id }}')">Add Comment</button>
		<form method="post" action="{% url 'threads:brainstorm_comment_create' b.id %}" id='{{ b.id }}' style='display:none'>
			{% csrf_token %}
			{{ comment_form|crispy }}
			<p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Submit"></p>
		</form>
		</div>
	</div>
	{% endfor %}


<div class="panel panel-default">
		<div class="panel-body">
	<p>Respond with a new idea:</p>
	<form method="post" action="{% url 'threads:brainstorm_resp_create' brain.id %}">
		{% csrf_token %}
    	{{ resp_form|crispy }}
		<p><input type="submit" value="Submit new idea"></p>
	</form>
</div>
</div>


<script>
function showCommentForm(formID) {
	var f = document.getElementById(formID);
	if (f.style.display === "none") {
		f.style.display = "block";
	} 	else {
		f.style.display = "none";
	}
}

function showLeastVotes() {
	console.log("is anything working")
	var lvl = document.getElementByID('leastvotes-list');
	lvl.style.display = "block";
	var mvl = document.getElementByID('mostvotes-list');
	mvl.style.display = "none";
}
</script>
{% endblock %}

