{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>

	.panel-body {
		color:lightcoral;
	}

	.pre-scrollable {
		height: 325px;
	}

	.me {
		color:white;
		background-color:lightcoral;

	}
</style>
	
	<div class="panel panel-default">
		<div class="panel-body">
			<h2 style="color:lightcoral">{{ disc.topic }}</h2></div></div>
	
	<div class="pre-scrollable" id='scroll'>
		

		{% for r in replies %}
		{% if user == r.owner %}
			<div class="panel panel-default">
				<div class="panel-body me" id="{{ r.id }}">
				<p>{{ r.owner }} : {{ r.text }} (id: {{ r.id }})</p>
				<p>{{ r.created_at }}</p>
				</div>
			</div>
		{% else %}
			<div class="panel panel-default">
				<div class="panel-body" id="{{ r.id }}">
				<p>{{ r.owner }} : {{ r.text }} (id: {{ r.id }})</p>
				<p>{{ r.created_at }}</p>
				</div>
			</div>
		{% endif %}
		{% endfor %}
	</div>
	
	<form method="post" action="{% url 'threads:discussion_reply_create' disc.id %}">
		{% csrf_token %}
    	{{ reply_form|crispy }}
		<p><input type="submit" value="Reply"></p>
	</form>

<script>
	window.onload = function() {
  		var elmnt = document.getElementById("{{ last_seen_id }}");
  		elmnt.scrollIntoView();
}
</script>


{% endblock %}