{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
	.panel-body{
		color:lightseagreen;
	}
</style>

	<div class="panel panel-default">
		<div class="panel-body">
			<h2>{{ react.topic }}</h2>
			<h3>{{ react.owner }} : {{ react.text}}</h3>
			<p>{{ r.created_at }}</p>
		</div>
	</div>
	{% if posted_yet == 1 %}
	{% for r in resps %}
	<div class="panel panel-default">
		<div class="panel-body">
		<p>{{ r.owner }} : {{ r.text }} </p>
		<p>{{ r.created_at }}</p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-body">
	<form method="post" action="{% url 'threads:reaction_resp_create' react.id %}">
	{% csrf_token %}
    {{ resp_form|crispy }}
	<p><input type="submit" value="Submit"></p>
	</form>
		</div>
	</div>

{% endblock %}