{% extends "base_bootstrap.html" %}
{% block navbar %}

<nav class="navbar navbar-default navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      {% url 'threads' as threads %}
      <li {% if request.get_full_path == threads %}class="active"{% endif %}>
          <a href="{% url 'threads:all_posts' %}">All Posts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
        <a href="{% url 'threads:new_post' %}">Create New Post</a>
        </li>
        <li><a href=''>{{ user }}</a></li>
        <li><a href="{% url 'logout' %}?next={% url 'threads:all_posts' %}">Logout</a></li>
        {% else %}
        <li>
        <a href="{% url 'login' %}?next={% url 'threads:all_posts' %}">Login</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}